.navbar {
  
background-color: lightgray;
  font-family: cursive;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 0px 0px 15px 0px;
  
}

.jumbotron {
  
  border-radius: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

h5 {

  font-family: cursive;
}

.no-data{
font-family: cursive;

}

#root{

  background-color: lightcyan;
}